*.env
/node_modules
*.php
__pycache__
/Image Based Emotion Analysis/*/DefinedModel.h5
/Image Based Emotion Analysis/*/*/DefinedModel.h5
*.do
/*/Data
package-lock.json
yarn.lock
data_reference.txt

Temporary_Storage
TransferLearningModelInceptionV3.h5

# ignore
/Text Based Emotion Analysis/Model/Text_NN_Model_50.h5